*, *::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6D5D4B; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, auto);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end col-start] 1fr [main-start center-start] repeat(8, minmax(min-content, 14rem) [center-end]) [main-end] 1fr [col-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, auto);
      grid-template-columns: [col-start] minmax(6rem, 1fr) [main-start center-start] repeat(8, minmax(min-content, 14rem) [center-end]) [main-end] minmax(6rem, 1fr) [col-end]; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 6rem 80vh min-content min-content min-content 30vh repeat(3, auto); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }
  .heading-2--dark {
    color: #54483A; }
  .heading-2--light {
    color: #f9f7f6; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
  line-height: 1; }

.heading-4 {
  font-size: 1.9rem;
  vertical-align: middle; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  border-radius: 2px;
  border: none;
  background-color: #c69963;
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.sidebar {
  background-color: #B28451;
  grid-row: 1/-1;
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 1/2;
      justify-content: flex-end;
      align-items: center; } }

.nav-btn {
  background-color: #fff;
  border: none;
  border-radius: 0;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-top: 0;
      margin-right: 1rem; } }
  .nav-btn::before, .nav-btn::after {
    content: '';
    height: 2px;
    width: 4.5rem;
    display: block;
    background-color: #fff; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.header {
  background-color: #54483A;
  background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  grid-column: col-start / center-end 6;
  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  justify-content: center;
  grid-gap: 2rem;
  padding: 4rem 8rem 8rem 8rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-column: 1/ -1; } }
  .header__logo {
    justify-self: center;
    height: 3rem;
    margin-top: 2rem; }
  .header__seenon-text {
    font-size: 1.6rem;
    color: #aaa;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: '';
      background-color: currentColor;
      height: 1px;
      display: block; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    justify-items: center;
    padding-bottom: 1rem; }
    .header__seenon-logos img {
      max-height: 2.5rem;
      filter: brightness(75%); }
  .header__btn {
    justify-self: start;
    align-self: start; }

.top_realtors {
  background-color: #101d2c;
  grid-column: center-end 6 / col-end;
  padding: 4rem 2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-row-gap: 2rem;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .top_realtors {
      grid-column: 1/ -1; } }

.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .realtors__list {
      display: flex; } }

.realtors__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%; }

.realtors__sold {
  text-transform: uppercase;
  color: #aaa; }

.features {
  grid-column: main-start / main-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-column: 1/2; }
  .feature__text {
    font-size: 1.7rem;
    grid-column: 2/3; }

.story__images {
  background-color: #c69963;
  grid-column: col-start/ center-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .story__images {
      grid-column: 1/ -1;
      padding: 6rem; } }

.story__img--1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6; }
  @media only screen and (max-width: 56.25em) {
    .story__img--1 {
      grid-column: 1/5;
      grid-row: 2/5; } }

.story__img--2 {
  width: 120%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 20; }
  @media only screen and (max-width: 56.25em) {
    .story__img--2 {
      width: 100%; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: center-end 4 / -1;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-width: 56.25em) {
    .story__content {
      grid-column: 1/ -1;
      grid-row: 5/6; } }
  @media only screen and (max-width: 37.5em) {
    .story__content {
      grid-column: 1/ -1;
      margin-top: 4rem; } }
  .story__content > * {
    margin-bottom: 3.2rem; }

.story__text {
  font-size: 1.6rem; }

.homes {
  grid-column: main-start / main-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 0; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem; }
  .home__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2; }
  .home__like {
    fill: #c69963;
    width: 2rem;
    height: 2rem;
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 1rem;
    z-index: 40;
    justify-self: end; }
  .home__name {
    font-size: 1.6rem;
    background-color: #101d2c;
    color: #ffffff;
    grid-column: 1/-1;
    grid-row: 1/2;
    transform: translateY(50%);
    width: 80%;
    padding: 1.25rem;
    font-weight: 400;
    justify-self: center;
    align-self: end;
    text-align: center;
    font-family: "Josefin Sans", sans-serif; }
  .home__location, .home__rooms, .home__area, .home__price {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem; }
  .home__location, .home__rooms {
    margin-top: 2rem; }
  .home__btn {
    grid-column: 1/-1; }

.gallery {
  background-color: #f9f7f6;
  grid-column: col-start / col-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1rem;
  padding: 1rem; }
  .gallery__item--1 {
    grid-column: 1/3;
    grid-row: 1/ span 2; }
  .gallery__item--2 {
    grid-column: 3/6;
    grid-row: 1/4; }
  .gallery__item--3 {
    grid-column: 6/9;
    grid-row: 1/3; }
  .gallery__item--4 {
    grid-column: 1/ span 2;
    grid-row: 3/5; }
  .gallery__item--5 {
    grid-column: 7/9;
    grid-row: 3/5; }
  .gallery__item--6 {
    grid-column: 1/2;
    grid-row: 5/8; }
  .gallery__item--7 {
    grid-column: 2/3;
    grid-row: 5/6; }
  .gallery__item--9 {
    grid-column: 3/span 2;
    grid-row: 4/6; }
  .gallery__item--10 {
    grid-column: 5/span 2;
    grid-row: 4/6; }
  .gallery__item--11 {
    grid-column: 7/span 2;
    grid-row: 5/8; }
  .gallery__item--12 {
    grid-column: 2/span 2;
    grid-row: 6/8; }
  .gallery__item--13 {
    grid-column: 5/span 2;
    grid-row: 6/8; }
  .gallery__item--14 {
    grid-column: 4/5;
    grid-row: 6/8; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #101d2c;
  grid-column: col-start / col-end;
  padding: 4rem; }

.nav {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  align-items: center; }
  .nav__item {
    padding: 1rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }

.copyright {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 4rem; }
